---
import Testimony from "../components/Testimony.astro";
import Layout from "../layouts/Layout.astro";
---

<Layout title="Welcome to Astro.">
    <main>
        <section>
            <div class="relative bg-white h-screen">
                <div
                    class="mx-auto items-center h-full max-w-7xl lg:grid lg:grid-cols-12 lg:gap-x-8 lg:px-8"
                >
                    <div
                        class="px-6 pt-10 pb-24 sm:pb-32 lg:col-span-7 lg:px-0 lg:pt-48 lg:pb-56 xl:col-span-6"
                    >
                        <div class="mx-auto max-w-2xl lg:mx-0">
                            <img
                                class="h-32"
                                src="/logo-orange.png"
                                alt="Your Company"
                            />
                            <h1
                                class="mt-24 text-4xl font-bold tracking-tight text-gray-900 sm:mt-10 sm:text-6xl"
                            >
                                The contractor you can actually trust.
                            </h1>
                            <p class="mt-6 text-lg leading-8 text-gray-600">
                                Anim aute id magna aliqua ad ad non deserunt
                                sunt. Qui irure qui lorem cupidatat commodo.
                                Elit sunt amet fugiat veniam occaecat fugiat
                                aliqua.
                            </p>
                            <div class="mt-10 flex items-center gap-x-6">
                                <a
                                    href="#"
                                    class="rounded-md bg-orange-600 px-3.5 py-1.5 text-base font-semibold leading-7 text-white shadow-sm hover:bg-orange-500 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-orange-600"
                                    >Call now</a
                                >
                                <a
                                    href="#"
                                    class="text-base font-semibold leading-7 text-gray-900"
                                    >Read our story<span
                                        aria-hidden="true"
                                        class="ml-2">→</span
                                    ></a
                                >
                            </div>
                        </div>
                    </div>
                    <div
                        class="relative lg:col-span-5 lg:-mr-8 xl:absolute xl:inset-0 xl:left-1/2 xl:mr-0"
                    >
                        <div
                            class="relative aspect-[3/2] w-full bg-gray-50 object-cover lg:absolute lg:inset-0 lg:aspect-auto lg:h-full"
                        >
                            <div
                                class="absolute inset-0 z-10 bg-orange bg-opacity-60"
                            >
                            </div>
                            <img
                                class="absolute inset-0 object-cover h-full w-full"
                                src="/hero.jpg"
                                alt=""
                            />
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <section class="overflow-hidden bg-gray-50 py-12 md:py-20 lg:py-24">
            <Testimony name="John Doe">
                I recently hired Bouch Contracting for a kitchen renovation and
                was very pleased with the results. The team was professional,
                reliable and exceeded my expectations. The new kitchen is now
                functional and beautiful. I highly recommend Bouch Contracting
                for any kitchen renovation needs.
            </Testimony>
        </section>
    </main>
</Layout>
