---
import Layout from "../layouts/Layout.astro";
import Hero from "../components/Hero.astro";
import ReviewWithPhoto from "../components/ReviewWithPhoto.astro";
---

<Layout title="Welcome to Astro.">
    <main class="h-full">
        <Hero />

        <ReviewWithPhoto
            title="Kitchen Remodel"
            name="John Doe"
            img="https://images.unsplash.com/photo-1565183928294-7063f23ce0f8?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=3870&q=80"
        >
            "Lorem ipsum dolor sit amet consectetur adipisicing elit. Earum
            deleniti ipsa repellat voluptatibus architecto ad, labore
            accusantium, repudiandae doloremque officiis unde totam, nostrum
            distinctio voluptatum enim eveniet maiores error in!"
        </ReviewWithPhoto>
        <ReviewWithPhoto
            title="Bathroom Remodel"
            name="John Doe"
            flip="true"
            img="https://images.unsplash.com/photo-1584622650111-993a426fbf0a?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=3870&q=80"
        >
            "Lorem ipsum dolor sit amet consectetur adipisicing elit. Earum
            deleniti ipsa repellat voluptatibus architecto ad, labore
            accusantium, repudiandae doloremque officiis unde totam, nostrum
            distinctio voluptatum enim eveniet maiores error in!"
        </ReviewWithPhoto>
    </main>
</Layout>
