---
import Main from "../layouts/Main.astro";

import Hero from "../partials/Hero.astro";
import Review from "../partials/Review.astro";
---

<Main title="Bouch Contracting">
    <Hero />
    <Review />
</Main>
