---
import Layout from "../layouts/Layout.astro";
import Project from "../components/Project.vue";
import projects from "../data/projects.js";
---

<Layout title="Our Work" navbar>
    <section class="container py-12 mt-5 md:py-24 px-6 text-center">
        <h1 class="text-5xl font-bold mb-5">Our Work</h1>
        <p class="text-color-500">
            Fusce molestie sed nulla quis blandit. Aenean tincidunt id diam vel
            congue. Maecenas elit ex, suscipit quis quam ut, vestibulum
            tincidunt tellus. Integer sit amet dui eu lorem sollicitudin
            laoreet. Praesent mattis sagittis ultricies. Proin ut tincidunt
            ipsum. Aenean ac euismod massa, finibus imperdiet mauris. Curabitur
            id est cursus, interdum sapien vestibulum, euismod lacus.
        </p>
    </section>

    <section class="container mb-10 space-y-24 md:space-y-48 px-6">
        {
            projects.map(function (project) {
                return <Project project={project} />;
            })
        }
    </section>
</Layout>
