---
import Navbar from "./Navbar.vue";
---

<div class="h-screen bg-orange" x-data="{ open: false }">
    <Navbar client:load transparent />

    <div class="relative h-full isolate overflow-hidden -mt-24">
        <img
            src="/hero.jpg"
            alt=""
            class="absolute inset-0 -z-10 h-full w-full object-cover"
        />
        <div
            class="h-full flex flex-col justify-center mx-auto max-w-2xl py-32 sm:py-48 lg:py-56"
        >
            <div class="text-center px-5">
                <h1
                    class="text-4xl font-bold tracking-tight text-white sm:text-6xl"
                >
                    Lorem ipsum dolor sit amet, consectetur elit.
                </h1>
                <p class="mt-6 text-lg leading-8 text-gray-100">
                    Nam vel laoreet ante, nec finibus nunc. Praesent eget
                    iaculis enim. Fusce a diam dictum, vehicula neque ac, luctus
                    nulla. Phasellus varius vel diam sed molestie.
                </p>
            </div>
        </div>
    </div>
</div>
