---
import { Image } from "astro:assets";

import kellerWilliamsLogoImage01 from "../assets/logos/keller-williams.png";
import katiePearlImage from "../assets/images/people/katie-pearl.jpg";
---

<section class="container-section">
    <Image
        src={kellerWilliamsLogoImage01}
        alt="Keller Williams Logo"
        class="h-16 w-auto object-contain mx-auto"
    />
    <p
        class="mt-8 max-w-prose text-center mx-auto leading-[1.9] sm:text-xl sm:leading-[1.8] md:text-2xl md:leading-[1.7] lg:text-3xl lg:leading-[1.6] text-gray-800"
    >
        While I refer clients to him consistently, I have also used him for many
        projects at my personal home over the years. My husband and I whole
        heartily recommend Tom and his team for your home needs.
    </p>
    <Image
        src={katiePearlImage}
        alt="Katie Pearl"
        class="mx-auto mt-8 h-20 w-20 rounded-full"
    />
    <p class="mt-3 text-center mx-auto text-xl font-medium text-gray-800">
        Katie Pearl
    </p>
</section>
