---
import { Image } from "astro:assets";
import TeamMemberCard from "../components/TeamMemberCard.astro";
import team from "../data/team.js";

import teamImage from "../assets/images/team.jpg";
---

<section class="mt-10 lg:mt-24">
    <div class="container-section py-20">
        <h2 class="h2 text-center">Meet the Team</h2>
        <p class="mt-3 text-lg text-gray-600 text-center max-w-prose mx-auto">
            We have an amazing team of friendly professionals that are more than
            just contractors, they're craftsmen with a mission to bring joy and
            satisfaction to every homeowner we work with.
        </p>
        <div class="mt-16 grid grid-cols-1 lg:grid-cols-2 xl:grid-cols-3 gap-8">
            {
                team
                    .filter((person) => person.image)
                    .map(
                        (person) =>
                            person.image && <TeamMemberCard {...person} />,
                    )
            }
        </div>
    </div>
    <Image
        src={teamImage}
        alt="Photo of some of the team"
        class="mt-10 lg:max-h-[80vh] object-cover object-[center_30%]"
    />
</section>
