---
import Navbar from "../components/Navbar.vue";
import Contact from "../components/Contact.vue";
import Footer from "../components/Footer.vue";
import "../styles/main.css";

const { title, navbar } = Astro.props;
---

<!DOCTYPE html>
<html lang="en" class="h-full">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width" />
        <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
        <meta name="generator" content={Astro.generator} />
        <title>{title}</title>
    </head>
    <body class="h-full">
        {navbar && <Navbar client:load />}
        <main>
            <slot />
        </main>

        <Contact />
        <Footer />
    </body>
</html>
